body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #cce7ff, #a4cbff); 

}

.intro{
    font-size: 18px;
    margin: 20px;
}

.logica{
    font-size: 18px;
    margin: 20px;
}

.variaveis{
    font-size: 18px;
    margin: 20px;
}

.aritmeticas{
    font-size: 18px;
    margin: 20px;
}

.condicional{
    font-size: 18px;
    margin: 20px;
}

.repeticao{
    font-size: 18px;
    margin: 20px;
}


ol {
    display: flex;
    padding: 10px;
}

.v {
    display: flex;
    justify-content: center;
    margin: auto;
}
.o {
    display: flex;
    justify-content: center;
    margin: auto;
}
.e {
    display: flex;
    justify-content: center;
    margin: auto;
}
.r {
    display: flex;
    justify-content: center;
    margin: auto;
}

.final {
    font-size: 15px;
    margin: 20px;
    color: white;
    margin-top: 30px;
    font-weight: bold;
}


.lista-itens{
    display: inline-block; /* Exibe as listas uma ao lado da outra */
    margin-right: 10px; /* Espaçamento entre as listas */
}

footer{background-color: #b6d6fe; color: rgb(255, 255, 255); text-align: center; padding-bottom: 1%;  font-weight: bold; padding-top: 9px;

}

a{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

button{
    border-radius: 4px;
    background-color: rgb(67, 126, 252);
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px, solid, lightblue;
    border-color: rgb(71, 149, 251);
    margin-bottom: 10px;
}

.botao:hover{
    background-color: rgb(7, 88, 116);
}

@media (max-width: 500px) {
    div {
        font-size: 22px;
    }
    p {
        font-size: 22px;
    }
    .final {
        font-size: 25px;
    }
    .lista {
        display: grid;
        grid-template-columns: 1fr;
    }
    .botao {
        font-size: 22px;        
    }
    footer {
        font-size: 22px;
    }
}